# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Tomáš Bouška
	email = tomas@buvis.net
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[pull]
	rebase = false
[core]
	fileMode = false
