[submodule "bash-it"]
	path = .bash_it
	url = https://github.com/Bash-it/bash-it.git
[submodule "asdf"]
	path = .asdf
	url = https://github.com/asdf-vm/asdf.git
[submodule "tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "p"]
	path = .p
	url = https://github.com/ddmendes/p
	branch=main
[submodule "scripts"]
	path = scripts
	url = https://github.com/buvis/scripts
[submodule "nvim-tree.lua"]
	path = .config/nvim/pack/bundle/opt/nvim-tree.lua
	url = https://github.com/nvim-tree/nvim-tree.lua
[submodule "nvim-tmux-navigation"]
	path = .config/nvim/pack/bundle/opt/nvim-tmux-navigation
	url = https://github.com/alexghergh/nvim-tmux-navigation
[submodule "NeoSolarized.nvim"]
	path = .config/nvim/pack/bundle/opt/NeoSolarized.nvim
	url = https://github.com/Tsuzat/NeoSolarized.nvim
[submodule "replay"]
	path = /Users/bob/.config/nvim/pack/bundle/opt/replay
	url = https://github.com/wincent/replay
