[submodule "bash-it"]
	path = .bash_it
	url = https://github.com/Bash-it/bash-it.git
[submodule "asdf"]
	path = .asdf
	url = https://github.com/asdf-vm/asdf.git
[submodule "tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "p"]
	path = .p
	url = https://github.com/ddmendes/p
	branch=main
[submodule "scripts"]
	path = scripts
	url = https://github.com/buvis/scripts
[submodule "project.nvim"]
	path = .config/nvim/pack/bundle/opt/project.nvim
	url = https://github.com/ahmedkhalf/project.nvim
