[submodule "bash-it"]
	path = .bash_it
	url = https://github.com/Bash-it/bash-it.git
[submodule "asdf"]
	path = .asdf
	url = https://github.com/asdf-vm/asdf.git
[submodule "tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "p"]
	path = .p
	url = https://github.com/ddmendes/p
	branch=main
[submodule "scripts"]
	path = scripts
	url = https://github.com/buvis/scripts
[submodule "nvim-tree.lua"]
	path = .config/nvim/pack/bundle/opt/nvim-tree.lua
	url = https://github.com/nvim-tree/nvim-tree.lua
[submodule "NeoSolarized.nvim"]
	path = .config/nvim/pack/bundle/opt/NeoSolarized.nvim
	url = https://github.com/Tsuzat/NeoSolarized.nvim
[submodule "replay"]
	path = .config/nvim/pack/bundle/opt/replay
	url = https://github.com/wincent/replay
[submodule "smart-splits.nvim"]
	path = .config/nvim/pack/bundle/opt/smart-splits.nvim
	url = https://github.com/mrjones2014/smart-splits.nvim
[submodule "bufresize.nvim"]
	path = .config/nvim/pack/bundle/opt/bufresize.nvim
	url = https://github.com/kwkarlwang/bufresize.nvim
[submodule "vim-commentary"]
	path = .config/nvim/pack/bundle/opt/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "lualine.nvim"]
	path = .config/nvim/pack/bundle/opt/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim
[submodule "nvim-web-devicons"]
	path = .config/nvim/pack/bundle/opt/nvim-web-devicons
	url = https://github.com/nvim-tree/nvim-web-devicons
[submodule "plenary.nvim"]
	path = .config/nvim/pack/bundle/opt/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "which-key.nvim"]
	path = .config/nvim/pack/bundle/opt/which-key.nvim
	url = https://github.com/folke/which-key.nvim
[submodule "telescope.nvim"]
	path = .config/nvim/pack/bundle/opt/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule "telescope-zf-native.nvim"]
	path = .config/nvim/pack/bundle/opt/telescope-zf-native.nvim
	url = https://github.com/natecraddock/telescope-zf-native.nvim
[submodule "project.nvim"]
	path = /Users/bob/.config/nvim/pack/bundle/opt/project.nvim
	url = https://github.com/ahmedkhalf/project.nvim
