config:
  clientID: "{{ oauth_client_id }}"
  clientSecret: "{{ oauth_client_secret }}"
  cookieSecret: "{{ oauth_cookie_secret }}"

extraArgs:
  whitelist-domain: .int.buvis.net
  cookie-domain: .int.buvis.net
  provider: github

authenticatedEmailsFile:
  enabled: true
  restricted_access: |-
    tomas@buvis.net

ingress:
  enabled: true
  path: /
  hosts:
    - auth.int.buvis.net
  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
  tls:
    - secretName: oauth2-proxy-https-cert
      hosts:
        - auth.int.buvis.net

image:
  tag: latest-arm64
