[core]
cache_dir = /app/cache
config_dir = /config
data_dir = /app

[logging]
verbosity = 0
format = %(levelname)-8s %(asctime)s [%(process)d:%(threadName)s] %(name)s\n  %(message)s
color = true
config_file =

[audio]
mixer = software
output = audioresample ! audioconvert ! audio/x-raw,rate=48000,channels=2,format=S16LE ! wavenc ! tcpclientsink host={{ ansible_default_ipv4.address|default(ansible_all_ipv4_addresses[0]) }} port=4955
mixer_volume = 80

[file]
enabled = true
media_dirs = /media
show_dotfiles = false
excluded_file_extensions =
    .bmp
    .cda
    .cue
    .db
    .directory
    .doc
    .docx
    .html
    .jpeg
    .jpg
    .lnk
    .log
    .m3u
    .m3u8
    .nfo
    .nmx
    .pdf
    .png
    .sfv
    .txt
    .url
    .zip
follow_symlinks = false
metadata_timeout = 1000

[local]
library = sqlite
scan_flush_threshold = 100
media_dir = /media
scan_timeout = 4000
excluded_file_extensions =
    .bmp
    .cda
    .cue
    .db
    .directory
    .doc
    .docx
    .html
    .jpeg
    .jpg
    .lnk
    .log
    .m3u
    .m3u8
    .nfo
    .nmx
    .pdf
    .png
    .sfv
    .txt
    .url
    .zip
[m3u]
playlists_dir = /media/000-playlists

[mpd]
hostname = 0.0.0.0
zeroconf = $hostname

[http]
enabled = true
hostname = 0.0.0.0
port = 6680
static_dir =
zeroconf = $hostname

[scrobbler]
username = {{ secret_lastfm_username }}
password = {{ secret_lastfm_password }}

[tunein]
timeout = 600000

[youtube]
enabled = true

[tidal]
enabled = true
quality = LOSSLESS

[defaultplaylist]
enabled = true
defaultplaylist_name = radio-1-fm-amsterdam-trance
autoplay = true
