GOOSE_MAX_TURNS: 2000
GOOSE_MODE: auto
GOOSE_PROVIDER: openrouter
GOOSE_MODEL: anthropic/claude-haiku-4.5
extensions:
  developer:
    bundled: true
    display_name: Developer
    enabled: true
    name: developer
    timeout: 300
    type: builtin
